/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-family: roboto-medium;
}

.search {
  text-align: center;
}

.search input {
  font-family: roboto-medium;
}

.search-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 8px;
}