/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-family: roboto-medium;
}

/* Styling for div that contains search bar, edit button, and results */
.search {
  display: flex;
  flex-direction: column;
}

.search-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Styling for search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 40px 0px;
  width: 300px;
  border-radius: 20px;
}

/* Styling for search bar input field */
.search input {
  font-family: roboto-medium;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 200px;
  height: 15px;
  padding: 12px;
  font-size: 20px;
  color: rgb(69, 66, 66);
}

/* Styling for magnifying glass button */
.search-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  right: 5px;
}

.search-icon:hover {
  cursor: pointer;
}

/* Styling for edit button */
.edit-icon {
  width: 30px;
  height: 30px;
}

.edit-icon:hover {
  cursor: pointer;
}

/* Centers search results div box */
.search-results {
  margin: 0 15px;
  font-family: roboto-medium;
}

/* Styling for search results ul */
.search-results ul {
  list-style-type: none;
  margin: -32px 0 20px;
  background-color: white;
  width: 290px;
  padding: 18px 0;
  border-radius: 20px;
}

/* Styling for search results li */
.search-results li {
  padding: 15px;
  color: rgb(69, 66, 66);
  font-size: 14px;
}

.search-results li:hover {
  background-color: rgb(246, 241, 241);
}

/* Styling for search results "Add" button */
.add-button {
  float: right;
  color: rgb(19, 95, 176);
  padding-right: 0px;
  line-height: 20px;
  font-size: 13px;
}

.add-button:hover {
  cursor: pointer;
  color: rgb(59, 171, 240);
  text-decoration: underline;
}

.current-location {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

/* Formats city list component,arrows, and remove button to be in a row when arrows are visible */
.city-container {
  display: flex;
  flex-direction: column;
}

/* Styling for city list component for when it is big and small */
.city-div, .city-div-small:not(:first-child) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 10px;
  width: 320px;
  height: 100px;
  background-color: var(--box);
  font-size: 25px;
  border-radius: 20px;
}

/* Shrinks elements in city list component for when arrows are visible */
.city-div-small {
  margin: 0 auto;
  width: 290px;
  height: 80px;
  font-size: 19px;
}

/* Adds space to the left between city name and its div box */
.city-name {
  padding-left: 12px;
}

/* Styling for city weather condition image */
.city-image {
  width: 60px;
  height: 60px;
}

/* Shrinks size of city weather condition image when arrows are visible */
.city-div-small:first-child .city-image-small{
  width: 45px;
  height: 45px;
}

/* Styling for city temperature div box */
.city-temps {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px 0 auto;
}

/* Styling for city current temperature for when it is big and small */
.city-current {
  font-size: 50px;
  text-align: center;
  margin: 5px auto -20px 10px;
}

/* Shrinks size of current temperature font when arrows are visible */
.city-div-small:first-child .city-current-small {
  font-size: 28px;
  margin: 5px auto -12px 20px;
}

/* Styling for the city's high and low temperatures */
.city-high-low {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

/* Shrinks size of high and low temperature font when arrows are visible */
.city-div-small:first-child .city-high-low-small {
  font-size: 13px;
}

/* Creates space between high and low temperatures */
.city-high-low p:first-child {
  margin-right: 5px;
}

/* Styling for edit options div */
.edit-options {
  display: none;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 20px;
}

/* Styling for movement arrow div box */
.arrow-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  position: relative;
  top: 3px;
  background-color: rgba(255, 255, 255, 0.89);
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

/* Styling for both arrows */
.arrow-div img {
  width: 25px;
  height: 25px;
}

.arrow-div img:hover {
  cursor: pointer;
}

/* Styling for remove button */
.remove {
  width: 35px;
  height: 35px;
  position: relative;
  top: 2px;
}

.remove:hover {
  cursor: pointer;
}
